@model Cytaty.Models.Cytaty

@{
    ViewBag.Title = "Usuń cytat";
}

<h2>Usuń cytat</h2>

<h3>Czy na pewno chcesz usunąć ten cytat?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cytat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cytat)
        </dd>

        <dt>
            @Html.LabelFor(model => model.ID_SlowoKlucz, "Słowa kluczowe")
          
            @*@Html.DisplayNameFor(model => model.ID_SlowoKlucz)*@
        </dt>

        
        <dd>
            @Html.DisplayFor(model => model.ID_SlowoKlucz)

        </dd>

        <dt>
            @Html.LabelFor(model => model.DataDodania, "Data Dodania")
           @*@Html.DisplayNameFor(model => model.DataDodania)*@

        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDodania)
        </dd>

        <dt>
            @Html.LabelFor(model => model.DataEdycji, "Data ostatniej edycji")
            @*@Html.DisplayNameFor(model => model.DataEdycji)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEdycji)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Mysliciele.Mysliciel, "Myśliciel")

            @*@Html.DisplayNameFor(model => model.Mysliciele.Mysliciel)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mysliciele.Mysliciel)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy", "Index")
        </div>
    }
</div>
