@model Cytaty.Models.Cytaty

@{
    ViewBag.Title = "Informacje o cytacie";
}

<h2>O cytacie</h2>

<div>
   
    <hr />
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cytat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cytat)
        </dd>

        <dt>
            @Html.LabelFor(model => model.ID_SlowoKlucz, "Słowa kluczowe")

            @*@Html.DisplayNameFor(model => model.ID_SlowoKlucz)*@
        </dt>


        <dd>
            @Html.DisplayFor(model => model.ID_SlowoKlucz)

        </dd>

        <dt>
            @Html.LabelFor(model => model.DataDodania, "Data Dodania")
        

        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDodania)
        </dd>

        <dt>
            @Html.LabelFor(model => model.DataEdycji, "Data ostatniej edycji")
       
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEdycji)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Mysliciele.Mysliciel, "Myśliciel")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mysliciele.Mysliciel)
        </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID_Cytat }) |
    @Html.ActionLink("Wróć do listy", "Index")
</p>
