@model IEnumerable<Cytaty.Models.Cytaty>

@{
    ViewBag.Title = "Słowa, słowa, słowa";
}

<h2 class="podtytul-stronaglowna"> 
    Najsłynniejsze cytaty
    </h2>



<p class="edycja_dodajnowycyt">
    @Html.ActionLink("Dodaj nowy cytat", "Create")
   
</p>


    @*<tr> row - jeden wiersz w tabeli
        <th> - element nagłówka th, td jedna komorka tabeli tradycyjna
            @Html.DisplayNameFor(model => model.Cytat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_SlowoKlucz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDodania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEdycji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mysliciele.Mysliciel)
        </th>
        <th></th>
    </tr>*@

<div class="wyswietl-wszystkie_cytaty">
    @foreach (var item in Model)
    {
    <p class="wyswietl-pojedynczy_cytat">


        @Html.DisplayFor(modelItem => item.Cytat)
    </p>
      
    <span class="wyswietl-mysliciela">
        @*@Html.DisplayFor(modelItem => item.Mysliciele.Mysliciel)*@
        @Html.ActionLink(item.Mysliciele.Mysliciel, "Details", "Mysliciele", new { id = item.Mysliciele.ID_Mysliciel },null)
   

    </span>
    //edycja możliwa po uwierzytelnieniu dostępu
        if (Request.IsAuthenticated)
        {
          
    <span>
        @Html.ActionLink("Edytuj", "Edit", new { id = item.ID_Cytat }) |
        @Html.ActionLink("Szczegóły", "Details", new { id = item.ID_Cytat }) |
        @Html.ActionLink("Usuń", "Delete", new { id = item.ID_Cytat })
    </span>  
            }

        }
    </div>

