@model IEnumerable<Cytaty.Models.Cytaty>

@{
    ViewBag.Title = "Wybrany cytat";
}

<h2 class="podtytul-stronaglowna"> 
    Twoje cytaty zawierające frazę: @ViewBag.query
    </h2>



@*<p class="edycja_dodajnowycyt">
    @Html.ActionLink("Dodaj nowy cytat", "Create")
   
</p>*@


    @*<tr> row - jeden wiersz w tabeli
        <th> - element nagłówka th, td jedna komorka tabeli tradycyjna
            @Html.DisplayNameFor(model => model.Cytat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_SlowoKlucz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDodania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEdycji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mysliciele.Mysliciel)
        </th>
        <th></th>
    </tr>*@

<div class="wyswietl-wszystkie_cytaty">
    @foreach (var item in Model)
    {
    <p class="wyswietl-pojedynczy_cytat">


        @Html.DisplayFor(modelItem => item.Cytat)
    </p>
      
    <span class="wyswietl-mysliciela">
        @Html.DisplayFor(modelItem => item.Mysliciele.Mysliciel)

    </span>

 
        

    }
    </div>

