@model Cytaty.Models.Mysliciele

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mysliciel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mysliciel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lata_życia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lata_życia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Biogram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Biogram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDodania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDodania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEdycji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEdycji)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID_Mysliciel }) |
    @Html.ActionLink("Wróć do listy", "Index")
</p>
