@model IEnumerable<Cytaty.Models.Mysliciele>

@{
    ViewBag.Title = "Index";
}

<h2 class="podtytul-stronaglowna">Biogramy myślicieli</h2>

<p class="nowy-biogram">
    @Html.ActionLink("Utwórz nowy biogram", "Create")
</p>
<table class="table">
    @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.Mysliciel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lata_życia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biogram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDodania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEdycji)
            </th>
            <th></th>
        </tr>*@

    <div class="wyswietl-mysl">
        @foreach (var item in Model)
        {
            <p class="wyswietl-pojedynczy_mysliciel">

                @Html.DisplayFor(modelItem => item.Mysliciel)

            </p>

            <span class="wyswietl-latazycia">
                @Html.DisplayFor(modelItem => item.Lata_życia)
            </span>

            <p class="wyswietl-biogram">
                @Html.DisplayFor(modelItem => item.Biogram)
            </p>


            @*
            <td>
                @Html.DisplayFor(modelItem => item.DataDodania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEdycji)
            </td>
            <td>*@


            <span class="edytuj-z-prawej">
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ID_Mysliciel }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ID_Mysliciel }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID_Mysliciel })
            </span>
        }

</table>
