<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title
      
    </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Cytaty", "Index", "Cytaty", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Wyszukiwarka", "Index", "Search")</li>
                    <li>@Html.ActionLink("Biogramy", "Index", "Mysliciele")</li>
                    <li>@Html.ActionLink("Ostatnio Dodane Cytaty", "OstatnioDodane", "Cytaty")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial") @*- dane do logowania, widok register i log in, mozna ewentualne ukryc potem*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Aleksandra Malcher-Jeżewska</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    
    @* linkowanie pliku JS, ktory mam w projekcie, bo nie mam w bandlu*@
    <script src="~/Scripts/LosujCytat.js">
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
